@{
    ViewBag.Title = "Home Page";
}

@using WebDev.Resources;

<div class="jumbotron">
    <h1>Walk The Maze</h1>
    <p class="lead">@Resource.HomeSubTitle</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>@Resource.HowToPlay</h2>
        <p> @Resource.HowToPlayGuide </p>
    </div>
    <div class="col-md-6">
        <h2>@Resource.DownloadHere</h2>
        <p>@Html.ActionLink(@Resource.StartDownload, "Download", "Downloads")</p>
    </div>
</div>