@model IEnumerable<WebDev.Models.Downloads>
           @using WebDev.Resources;



<h2>@Resource.Downloads</h2>

<table id="table">
    <tr>
        <th>
            @Resource.FileName
        </th>
    
        <th>
           @Resource.Download
        </th>
    </tr>

    <tr>
        <td>
            @Resource.Game
        </td>
        <td>
            @Html.ActionLink("app.zip", "Download")
        </td>
    </tr>

</table>

