@model IEnumerable<WebDev.Models.GameRoute>

@using WebDev.Resources;

@{
    ViewBag.Title = @Resource.Route;
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Resource.Username
        </th>
        <th>
            @Resource.Level
        </th>
        <th>
            @Resource.Route
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.route)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
